img:hover{
    transform: scale(108%);
}

#icons{

    width: 100% !important;
    
}

#imgBackground{
 background-color: rgba(238, 233, 233, 0.692) !important;
}

@media (max-width: 600px) {
    #icons{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        justify-content: center;
        align-items: center;
    }
  }