
#navClass{
    background-color: rgba(116, 109, 109, 0.425) !important;
}


#menuResponsive{
    position:absolute !important;
    top:45px;
    left:30px;
    transition: transform 4s cubic-bezier(0.05, 1.04, 0.72, 0.98) 4s;
}
