@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --secondary-color: #ff7235;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-family: "Roboto", sans-serf;
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family);
}

